<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <center>
      <table
        width="100%"
        style="
          font-family: Arial, sans-serif;
          max-width: 350px;
          background: #222;
          border-radius: 5px;
          overflow: hidden;
          text-align: center;
          text-transform: capitalize;
          color: white;
          font-weight: 600;
          font-size: 18px;
        ">
        <tr>
          <td>
            <table width="100%" style="background: #b63400">
              <tr>
                <td style="padding: 15px">
                  <img
                    src="https://res.cloudinary.com/mailmodo/image/upload/v1658131947/editor/p/2c28dec6-c21c-4385-a91f-96e9a90c404f/d837cca5ebd76fbe268015bd9fe51b07_fu78lk.png"
                    style="width: 85px" />
                </td>
              </tr>
            </table>
            <table width="100%" style="padding: 20px">
              <tr>
                <td>
                  <div style="text-align: center">
                    <div>hello {{username}} from RoutineCheck.</div>
                    <div>
                      please verify your email to enable all available features
                      on our website.
                    </div>
                  </div>
                  <div style="margin: 30px 0">
                    <center>
                      <table
                        align="center"
                        style="background: #e53400; border-radius: 6px">
                        <tr>
                          <td>
                            <a
                              href="{{verificationtoken}}"
                              style="
                                text-decoration: none;
                                display: inline-block;
                                padding: 16px 30px;
                                color: white;
                                font-size: 17px;
                                font-weight: 600;
                                cursor: pointer;
                              ">
                              Verify your email
                            </a>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </div>
                </td>
              </tr>
            </table>
            <table
              width="100%"
              style="
                padding: 0 10px;
                font-size: 12px;
                color: #cbcbcb;
                text-align: left;
              ">
              <tr>
                <td>
                  <div>© RoutineCheck 2023</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
